/*
Title: Assignment 5.2
Author: Amanda Groves
Date: 17 April 2022
Modified by: Amanda Groves
Description: Sequence Game Assignment
*/
.app-header {
    text-align: center;
    font-weight: normal;
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.card-container {
    text-align: center;
}

/*Changing font size */
#container {
    font-size: 28px;
    padding: 10px;
}

/* Centering Card Margins */
.card {
    margin-left: 400px;
    margin-right: 400px;
}
/* Moving Return button in line with cards */
.return-home {
    margin-left: 400px;
}

/* Formatting for Button Style */
#btnDisplaySequence {
    background-color: #4f3674;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
}